<header>
    <h1>HOME</h1>
</header>

<main>
    <section>
        <ul id="products">
            {{#each products as |product|}}
                <li>Title: {{product.title}}
                    <ul>
                        <li>Description: {{product.description}}</li>
                        <li>Price: {{product.price}}</li>
                        <li>Status: {{product.status}}</li>
                        <li>Stock: {{product.stock}}</li>
                        <li>Category: {{product.category}}</li>
                    </ul>
                </li>
            {{/each}}
        </ul>
    </section>
</main>
