<head>
    <link rel="stylesheet" href="../public/css/desc.css" />
</head>
<header>
    <h1>PRODUCT DESCRIPTION</h1>
    <h3>{{title}}</h3>
</header>
<main>
    <section id="desc-container">
        <div id="desc-columns">
            <div id="thumbnail-container">
                <div id="thumbnail-desc">
                    <img id="thumbnail-ext" src="../public/images/{{thumbnail}}" alt="" />
                </div>
                <div id="description-desc">
                    <h4>Description</h4>
                    <p>{{description}}</p>
                    <h5>Brand: {{brand}}</h5>
                    <h5>Model: {{model}}</h5>
                    <h5>Code: {{code}}</h5>
                </div>
            </div>
            <div id="info-container">
                <div id="info-desc">
                    <h4>{{title}}</h4>
                    <h5>Category: {{category}}</h5>
                    <p>Price: ${{price}}</p>
                    <p>Stock: {{stock}}</p>
                </div>
            </div>
        </div>

    </section>
</main>